<!-- default Your Questions--->
<div class="tab-content" >

    <!--- New Questions Tab -->
    <div class="tab-pane fade in active" id="new">   
        <div class="row">
            <div class="col-xs-12" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;">
                <div class="col-xs-6" >New Questions</div>
                <div class="col-xs-6">
                    <div class="btn-group" style="float:right" >
                        <a href="#" id="mostrecentquestbtn" class="btn btn-default btn-xs">Most recent</a>
                        <a href="#" id="mostvotedquestbtn" class="btn btn-default btn-xs">Most voted</a>
                    </div>
                </div>
            </div>
        </div>
        
      <!-- navigation holder -->
      <div class="row" id="newquestpbjnav">
          <div class="col-xs-12 holder"></div> 
      </div>

        <div class="row" id="questionsContainer" style="min-height:600px;">
        <?php if (count($this->newQuestions)) : ?>
            <?php foreach ($this->newQuestions as $newQuestion): ?>           
           

                <div class="row" id="newquestionsContainer">
                    <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                        <div class="col-xs-1" style="padding-left:30px">
                            <button  id="<?php echo"up".$this->escape($newQuestion["id"]); ?>" type="button" class="voteupbtn btn btn-default btn-sm <?php if($newQuestion["useruv"] == '1' && !is_null($newQuestion["useruv"]))  echo arrowdim ?>" style="margin-bottom:20px; ">
                                <span class="glyphicon glyphicon-chevron-up" ></span>
                            </button>
                            <br/>
                            <button id="<?php echo"down".$this->escape($newQuestion["id"]); ?>" type="button" class="votedownbtn btn btn-default btn-sm <?php if($newQuestion["userdv"] == '1' && !is_null($newQuestion["userdv"]))  echo arrowdim ?> " style="margin-top:20px;">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                        <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                            <div class="upvote" id="<?php echo"upvote".$this->escape($newQuestion["id"]); ?>"><?php echo $this->escape($newQuestion["suv"]) ?></div>
                            <div class="<?php if((int)$newQuestion['diff'] > 0) {echo "upvotetext";} else {echo "downvotetext";} ?>" id="<?php echo"votecolor".$this->escape($newQuestion["id"]); ?>">Votes</div>
                            <div class="downvote" id="<?php echo"downvote".$this->escape($newQuestion["id"]); ?>"><?php echo $this->escape($newQuestion["sdv"]) ?></div>
                        </div>

                        <div class="col-xs-10" style="min-height:80px">
                            <div class="questionheading" style="font-size:120%;line-height: 1.3;color:#333"><?php echo nl2br($this->escape($newQuestion["title"])); ?></div>
                            <div class="questionexplain"  style="font-size:90%;margin-top:5px; "><?php echo nl2br($this->escape($newQuestion["text"]));?></div>
                            <div class="questionuser" style="float:right;margin-top:20px;">                              
                                <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold"><?php echo $this->escape($newQuestion["email"])?></a>
                            </div>
                        </div>

                    </div>
                </div>

    <?php endforeach; ?>
    <?php else: ?>

              <div class="row">
                      <div class="col-xs-3"></div>
                      <div class="col-xs-6"><div class="alert alert-dismissable alert-warning">
                              <h4 style="text-align:center">Oops no Questions!!</h4></div>
                      </div>
                      <div class="col-xs-2"> </div>     
                  </div>
  <?php endif; ?>  


    </div>      
      <!-- navigation holder -->
      <div class="row" id="newquestpbjnav">
          <div class="col-xs-12 holder"></div> 
      </div>
    </div><!-- New questions tab end-->

    <!---- Create New Questions Tab-->
    <div class="tab-pane fade" id="createnew">
        <div class="row" >
            <div id="questtopele" class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Create New Questions</span></div>
        </div>

        <div class="row hide" id='questsuccess'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-success" style="text-align:center !important">                  
                    <a href="#" class="alert-link">Your's Question is Submitted</a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>


        <div class="row hide" id='questerror'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-danger" style="text-align:center !important">                  
                    <a href="#" id="newquesterr" class="alert-link"></a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>


        <form  id="newquestform" class="form-horizontal" style="margin-top:50px;" method="post" action="<?php echo $this->baseUrl('pbj/createnew'); ?>">                                                              
            <div class="form-group">
                <label for="questiontitle" class="col-xs-2 control-label">Question</label>
                <div class="col-xs-10">
                    <input type="text" name="questtitle" class="form-control" id="questiontitle" placeholder="Your Question here">
                </div>
            </div>                                
            <div class="form-group">
                <label for="questiondesc" class="col-xs-2 control-label">Question Description</label>
                <div class="col-xs-10">
                    <textarea name="questtext" class="form-control" rows="3" id="questiondesc" style="width: 950px; height: 250px;" placeholder="Question Description..."></textarea>                                           
                </div>
            </div>                                  

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">                                           
                    <button type="submit" id="questsubmit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div><!-- create new question tab end-->
    
    

    <!--- Resolved Tab-->
    <div class="tab-pane fade" id="resolved">                                             
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Resolved Questions</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="resolvedpbjnav">           
            <div class="col-xs-12 holder"></div> 
        </div>
        <div id="resolvedquestioncontainer" style="min-height:600px;"> </div>
         <!-- navigation holder -->
        <div class="row" id="resolvedpbjnav">           
            <div class="col-xs-12 holder"></div> 
        </div>
        <!-- Popup itself -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide resolvedpopup">Oops...Voting closed for Resolved Questions</div>    
    </div><!--resolved questions tab end-->



    <!---Work in Progress Tab-->
    <div class="tab-pane fade" id="workinprogress">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Work in Progress Questions</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="workpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>
        <div id="workinprogressquestcontainer" style="min-height:600px;"> </div>
        <!-- navigation holder -->
        <div class="row" id="workpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>
        <!-- Popup itself -->
        <div id="workin-small-dialog" class="zoom-anim-dialog mfp-hide">Oops...Voting closed for Work-in-Progress Questions</div>
    </div><!--work in progress tab end-->
    
    
</div><!--content tab end-->




