


<div class="tab-content">

    <!--- New Suggestions Tab -->
    <div class="tab-pane fade in active" id="new">   
        <div class="row">
            <div class="col-xs-12" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;">
                <div class="col-xs-6" >New Submissions</div>
                <div class="col-xs-6">
                    <div class="btn-group" style="float:right" >
                        <a href="#"  class="btn btn-default btn-xs">Most recent</a>
                        <a href="#" class="btn btn-default btn-xs">Most voted</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">76</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">23</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Remove the 50MB limit on email mailbox and make it unlimited. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="font-size:80%;float:right;margin-top:20px;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</div>
                </div>

            </div>
        </div>  


        <div class="row">
            <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="font-size:80%;float:right;margin-top:20px;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</div>
                </div>

            </div>
        </div> 

        <div class="row">
            <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">92</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">4</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Coffee should be Free at Staples. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="font-size:80%;float:right;margin-top:20px;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</div>
                </div>

            </div>
        </div>  

        <div class="row">
            <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="font-size:80%;float:right;margin-top:20px;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</div>
                </div>

            </div>
        </div> 

        <div class="row">
            <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">92</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">4</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Coffee should be Free at Staples. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="font-size:80%;float:right;margin-top:20px;color:#bf6d94;font-weight:bold">Shantesh.Kanekar@staples.com</div>
                </div>

            </div>
        </div>  






    </div>

    <!---- Create New Suggestions Tab-->
    <div class="tab-pane fade" id="createnew">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Create New Submissions</span></div>
        </div>



        <div class="row hide" id='suggsuccess'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-success">                  
                    <a href="#" class="alert-link" style='text-align:center'>Your's Suggestion is Submitted</a>.
                </div>

            </div>
            <div class="col-xs-3"></div>
        </div>


        <div class="row hide" id='suggerror'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-danger">                  
                    <a href="#" class="alert-link" style='text-align:center'>error</a>.
                </div>

            </div>
            <div class="col-xs-3"></div>
        </div>

        <form class="form-horizontal" style="margin-top:50px;">                                                              
            <div class="form-group">
                <label for="suggesttitle" class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="suggesttitle" placeholder="Title">
                </div>
            </div>                                
            <div class="form-group">
                <label for="suggestdesc" class="col-xs-2 control-label">Description</label>
                <div class="col-xs-10">
                    <textarea class="form-control" rows="3" id="suggestdesc" style="width: 950px; height: 250px;" placeholder="Your Suggestions..."></textarea>                                           
                </div>
            </div>                                  

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">                                           
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div>

    <!--- Resolved Tab-->
    <div class="tab-pane fade" id="resolved">                                             
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Resolved Submissions</span></div>
        </div>

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="resolvedbadge">resolved</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div> 


        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;background-color:#F9F9F9">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="resolvedbadge">resolved</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div> 

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">92</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">4</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Coffee should be Free at Staples. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="resolvedbadge">resolved</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div>  

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="resolvedbadge">resolved</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div> 

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">92</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">4</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Coffee should be Free at Staples. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="resolvedbadge">resolved</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div>  
    </div>
    <!---Work in Progress Tab-->
    <div class="tab-pane fade" id="workinprogress">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Work in Progress</span></div>
        </div>

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">41</div>
                    <div class="downvotetext">Votes</div>
                    <div class="downvote">123</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Too many approvals for change management.</div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="workinprogressbadge">work-in-progress</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div> 

        <div class="row" style="background-color:#F9F9F9">
            <div class="col-xs-12" style="min-height:120px;padding:10px;">
                <div class="col-xs-1" style="padding-left:30px">
                    <button type="button" class="btn btn-default btn-sm" style="margin-bottom:20px; ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <br/>
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:20px;">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                    <div class="upvote">92</div>
                    <div class="upvotetext">Votes</div>
                    <div class="downvote">4</div>
                </div>

                <div class="col-xs-10" style="min-height:80px">
                    <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">Coffee should be Free at Staples. </div>
                    <div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">Lorem ipsum dolor sit amet, semper lucilius gloriatur at mel, eu sit tincidunt deterruisset! Ad causae insolens vix, ipsum tation detracto ut mea, porro causae at cum. Ne cum movet dicam, cu nec perpetua delicatissimi. Ius placerat mediocrem ut? Eos dicunt quaerendum accommodare ea, in hi </div>
                    <div class="suggestuser" style="float:right;margin-top:20px;">
                        <a href="#" class="workinprogressbadge">work-in-progress</a>
                        <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">Satish.Mehta@staples.com</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="min-height:70px;padding:10px;border-bottom: 1px dotted #ddd;margin-top: 10px;">
                <div><span style="font-weight: bold;font-size:14px;text-align:justify ">Admin's Comments</span> - Nam vestibulum dignissim accumsan. Morbi suscipit a sapien non molestie. Fusce non consequat risus. Ut orci mauris, aliquam egestas imperdiet vitae, commodo ultricies nibh. Quisque facilisis ligula id lacus ullamcorper gravida. Etiam ultricies dolor nec ipsum ullamcorper, sit amet fringilla ante viverra. </div>
            </div>
        </div>  



    </div>
</div>
</div>
</div>

</div>