
<div class="col-xs-12">
    
       
   
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <p class="feedbackheading">EDS Portal Feedback</p><br>
        <form role="form" method="POST" action="/feedback/submit">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea  name="description" id="description" class="form-control" rows="3"></textarea>
            </div>

            <br><button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
    <div class="col-xs-3"></div>

</div>
