
<div class="container">
    <div class="col-xs-12" style="margin-top: 100px;">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <p style="font-size:24px;">Thank you for Feedback</p>
        </div>
        <div class="col-xs-3"></div>
    </div>
	
</div>