/* 
    Created on : Jun 4, 2014, 11:12:55 AM
    Author     : BotRe001
*/

.hide{
    display: none;
}
.show{
    display:block;
}

.margintop30div{
   margin-top:30px; 
}
.marginbtm30div{
   margin-bottom:30px; 
}
.margintop50div{
   margin-top:50px; 
}
.bold{
  font-weight: bold;  
}

.feedback a{
    position:fixed;
    cursor:pointer;  
    margin-top:40%;
    margin-right:-40px;
    border-radius:3px;
    right:0;
    width:80px;
    height:50px;
    padding-top:7px;
    padding-left:20px;
    padding-right:80px;
    padding-bottom:15px;
    color:#fff;
    background-color:#2B4E72;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    /* Standard syntax */
    /* Firefox */
    -moz-transition: color 1s ease;
    /* WebKit */
    -webkit-transition: color 1s ease;
    /* Opera */
    -o-transition: color 1s ease;
    /* Standard */
    transition: color 1s ease;
    
}


.feedback a:hover,
.feedback a:active {
    color:#ff434c;
    text-decoration: none;
}
.feedbackheading{
  font-size:26px;
  margin-top:50px;  
}

.admintopboder{
    background:#ff434c;   
    height:2px;
}
.topboder{
    background: #4d4d4d;    
    height:9px;
}
.topnav{
    background: #2B4E72;
}
.navtextcolor a{
    color:#FFF;
    font-size: 18px;
}
.navtextcolor a:hover,
.navtextcolor a:focus{   
    color:#ff434c; 
    -webkit-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s; 
    font-size: 18px;
}
#mostrecentsuggbtn{
    margin-right: 10px ;
}
#mostrecentsuggbtn:hover,
#mostrecentsuggbtn:active{
    border-color:#ff434c;    
}
#mostrecentquestbtn{
    margin-right: 10px ;
}

#mostvotedsuggbtn:hover,
#mostvotedsuggbtn:hover{
    border-color:#ff434c;    
}
#viewid{
    margin-left:60px;
    display:inline-block;  
}
a.viewicons { 
    color:black; 
    padding:0px 10px;
    margin:0px 1px;
    text-decoration:none; 
}
a.viewicons:hover,
a.viewicons:active{
    color:#ff434c;
    -webkit-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

.customnav a{
    color:#FFF;    
}

.stapleslogo{
    background-image: url('staples-logo.png');
}

#footer{    
    bottom:0;
    background:#4d4d4d url('footer_bg.png');
    padding-top: 13px;
    margin-top: 100px;
    margin-right: 0px;
    padding-bottom: 0px;
    color: #FFF;
    min-height:100px;
}
.custbtn{
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.upvote{
    font-size:160%;
    text-align:center;
    margin-bottom: 7px;   
}

.upvotetext{
    font-size:110%;
    text-align:center;
    margin-bottom: 10px;
    background-color: #2ecc71;
    color:#FFF;
    border-radius:3px;
}

.downvotetext{
    font-size:110%;
    text-align:center;
    margin-bottom: 10px;
    background-color: #B24A42;
    color:#FFF;
    border-radius:3px;
}

div.eachsugg:hover{   
    cursor:pointer;
    outline:1px solid grey;  
    overflow-wrap: break-word;
}

.downvote{    
    font-size:160%;
    text-align:center;
}
a.resolvedbadge {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid green;
    color:green;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

a.resolvedbadge:hover, a.resolvedbadge.active {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid green;
    color:green;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

a.workinprogressbadge {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid #FFAD5C;
    color:#FFAD5C;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

a.workinprogressbadge:hover, a.workinprogressbadge:active {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid #FFAD5C;
    color:#FFAD5C;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

a.archivebadge {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid #6600CC;
    color:#6600CC;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

a.archivebadge:hover, a.archivebadge:active {
    border-radius:3px;
    width:60px;
    height:10px;
    border:1px solid #6600CC;
    color:#6600CC;
    margin-right: 20px;
    padding:4px;
    text-decoration: none;
}

.listcustomactive{
    text-decoration: none;
    /*background-color: #f5f5f5;*/
    color:#ff434c !important;
    background-color: #446e9b;
    border-color: #fff
}

.testmaxwidth{
    /* border:1px solid red;*/
    width:100%;
    height:100px;
}

.testmaxwidthe{
    /* border:1px solid red;   */
    padding:10px;
    margin:20px 30px;
}

.arrowdim{
    opacity: 0.5 !important;
}


.admincommenthighlight{
    background-color:#DEEEFF;
}

.admincommborder{
    border-bottom: 1px dotted #ddd;
}

.questestexplain{   
    overflow-wrap: break-word;
}

.questestheading{
    overflow-wrap: break-word;  
}
#questerror{
    text-align: center;
}
.suggestexplain{   
    overflow-wrap: break-word;
}

.suggestheading{
    overflow-wrap: break-word;  
}

/*List View Styles*/
.listvieweachdiv{
    min-height:50px;
    padding:10px;
    border: 1px dotted #ddd;   
}
.listvieweachdiv >div{
    padding-left:30px;   
}
.listvieweachdiv:hover,
.listvieweachdiv:active{
    background-color:#FAFAFA; 
    cursor:auto;
    outline:1px solid #4d4d4d;
}

.listsuggstatusdown{
    display:inline-block;
    width:20px;
    height:15px;
    border-radius:9px;
    background-color: #B24A42;
    margin-top:7px;
}
.listsuggstatusup{
    display:inline-block;
    width:20px;
    height:15px;
    border-radius:9px;
    background-color: #2ecc71;
    margin-top:7px;
}
.listsuggestheading{
    display:inline-block;
    font-size:120%;
    line-height: 1.3;
    color:#333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:800px;
}

.listsuggestuser{
    display:inline-block;
    font-size:80%;
    float:right;
    color:#bf6d94;
    font-weight:bold   
}
/*Page Navigation Holder*/
.holder{
    margin:30px 0px !important;
}

/* Search Page*/
.countresults{
   margin-top: 20px;
   font-size: 16px;
   font-weight: bold;
}