/* 
    Created on : Jun 25, 2014, 11:43:00 AM
    Author     : botre001
*/
.holder {
    margin:15px 0;
}
.holder a {
    font-size:14px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
    border:1px solid #222;
    padding:5px 8px;
    text-decoration: none;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin: 0 5px;
}
#adminpbjnav{
    margin-top:10px;
    margin-bottom:50px;
}
    
