
<div class="row">
    <div class="col-xs-12 container" style="margin-top: 100px">
        <div class="col-xs-2 "  > </div>

        <div class="col-xs-8" >
            <?php
            if (count($this->errormsg) && isset($this->errormsg)) {
                echo '<div class="alert alert-dismissable alert-warning">';
                echo '<button type="button" class="close" data-dismiss="alert">×</button>';

                foreach ($this->errormsg as $value) {
                    echo '<a href="#" class="alert-link">' . $value . '</a>';
                    echo '<br>';
                }
                echo '</div>';
            }
            ?>

            <form  id="edslogin" class="form-horizontal" style="margin-top:50px;" method="post" action="<?php echo $this->baseUrl('account/login'); ?>">                                                              
                <div class="form-group">
                    <label for="edsusername" class="col-xs-2 control-label">Username</label>
                    <div class="col-xs-6">
                        <input type="text" name="edsusername" class="form-control" id="edsusername" placeholder="Username">
                    </div>
                </div>  
                <div class="form-group">
                    <label for="edspassword" class="col-xs-2 control-label">Password</label>
                    <div class="col-xs-6">
                        <input type="password" name="edspassword" class="form-control" id="edspassword" placeholder="Password">
                    </div>
                </div>                                                 

                <div class="form-group">
                    <div class="col-xs-10 col-xs-offset-2">                                           
                        <button type="submit" id="suggsubmit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-xs-2" ></div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="margin-top: 50px">
            <div class="col-xs-3"></div>
            <div class="col-xs-5 alert  alert-info">
                <p>Note:&nbsp; Account locked after three invalid login attempts. </p>
            </div>
            <div class="col-xs-4 hide"></div>

        </div>
    </div>

</div>


