{{#each .}}<div class="row" ><div class="col-lg-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">'+
        '<div class="col-md-1" style="padding-left:30px">'+
            '<button  id="{{this.upbtnid}}" type="button" class="voteupbtn btn btn-default btn-sm {{this.upbtndimclass}}" style="margin-bottom:20px; ">'+
                '<span class="glyphicon glyphicon-chevron-up" ></span>'+
            '</button>'+
            '<br/>'+
            '<button id="{{this.downbtnid}}" type="button" class="votedownbtn btn btn-default btn-sm {{this.downbtndimclass}}" style="margin-top:20px;">'+
                '<span class="glyphicon glyphicon-chevron-down"></span>'+
            '</button>'+
        '</div>'+
        '<div class="col-md-1" style="margin-left:-20px;height:100px;">'+
            '<div class="upvote" id="{{this.upvoteid}}">{{this.upvotecount}}</div>'+
            '<div class="{{this.votetextclass}}" id="{{this.votecolorid}}">Votes</div>'+
            '<div class="downvote" id="{{this.downvoteid}}">{{this.downvotecount}}</div>'+
        '</div>'+

        '<div class="col-md-10" style="min-height:80px">'+
           '<div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333">{{this.suggtitle}}</div>'+
            '<div class="suggestexplain"  style="font-size:90%;margin-top:5px; ">{{this.suggtext}}</div>'+
            '<div class="suggestuser" style="float:right;margin-top:20px;">'+                              
                '<a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold">{{this.suggemail}}</a>'+
            '</div>'+
        '</div>'+

    '</div>'+
'</div>{{/each}}