    <!-- Carousel    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/1140x200/fff/ea005d/&text=Twenty%20Four%202014" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
               <!--<h1>Present your Ideas here</h1> -->            
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>          
       <div class="item">
          <img src="http://placehold.it/1140x200/fff/2ec866/&text=Ideas" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
               <!--<h1>Present your Ideas here</h1> -->            
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1140x200/fff/2C93CC/&text=Prototypes" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Showcase your prototypes</h1>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1140x200/fff/FFB800/&text=Hacks" alt="Third slide"> 
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>One for a good reason</h1> -->             
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    
       <!-- Marketing messaging and featurettes======== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="margin-left: 20px;">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle" src="http://placehold.it/1140x500/2ec866/fff/&text=Ideas" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Ideas</h2>
          <p>Present your Ideas here, see how it affects the real world.</p>
          <p><a class="btn btn-default" href="/admin-twenty-four/ideas" role="button">Dive In &raquo;</a></p>
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-4">
          <img class="img-circle" src="http://placehold.it/1140x500/2C93CC/fff/&text=Prototypes" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Prototypes</h2>
          <p>Showcase your prototypes, show us a sample of your idea. </p>
          <p><a class="btn btn-default" href="/admin-twenty-four/ideas" role="button">Dive In &raquo;</a></p>
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-4">
          <img class="img-circle" src="http://placehold.it/1140x500/FFB800/fff/&text=Hacks" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Hacks</h2>
          <p>Hacking for Good.Hacking to build better products.</p>
          <p><a class="btn btn-default" href="/admin-twenty-four/ideas" role="button">Dive In &raquo;</a></p>
        </div><!-- /.col-xs-4 -->
      </div><!-- /.row -->
  </div><!-- /.container -->