<!-- admin PBJ -->

<div class="tab-content">

    <!--- New Questions Tab -->
    <div class="tab-pane fade in active" id="new">   
        <div class="row">
            <div class="col-xs-12" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;">
                <div class="col-xs-6" >New Submissions</div>
                <div class="col-xs-6">
                    <div class="btn-group" style="float:right" >
                        <a href="#" id="mostrecentquestbtn" class="btn btn-default btn-xs">Most recent</a>
                        <a href="#" id="mostvotedquestbtn" class="btn btn-default btn-xs">Most voted</a>
                    </div>
                </div>
            </div>
        </div>
        
    
    <!-- navigation holder -->
    <div class="row" id="adminpbjnav">
        <div class="col-xs-12 holder"></div> 
    </div>
    

        <div class="row" id="questionsContainer" style="min-height:600px;">
            <?php if (count($this->newQuestions)) : ?>
                <?php foreach ($this->newQuestions as $newQuestion): ?>

                    <div class="row eachquest eachsugg" id="<?php echo"questid" . $this->escape($newQuestion["id"]); ?>">
                        <div class="col-xs-12 admincommborder" id="<?php echo"questidborder" . $this->escape($newQuestion["id"]); ?>" style="min-height:120px;padding:10px;">
                            <div class="col-xs-1" style="padding-left:30px">
                                <button  id="<?php echo"up" . $this->escape($newQuestion["id"]); ?>" type="button" class="voteupbtn btn btn-default btn-sm <?php if ($newQuestion["useruv"] == '1' && !is_null($newQuestion["useruv"])) echo arrowdim ?>" style="margin-bottom:20px; ">
                                    <span class="glyphicon glyphicon-chevron-up" ></span>
                                </button>
                                <br/>
                                <button id="<?php echo"down" . $this->escape($newQuestion["id"]); ?>" type="button" class="votedownbtn btn btn-default btn-sm <?php if ($newQuestion["userdv"] == '1' && !is_null($newQuestion["userdv"])) echo arrowdim ?> " style="margin-top:20px;">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </div>
                            <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                                <div class="upvote" id="<?php echo"upvote" . $this->escape($newQuestion["id"]); ?>"><?php echo $this->escape($newQuestion["suv"]) ?></div>
                                <div class="<?php if ((int) $newQuestion['diff'] > 0) {echo "upvotetext"; } else {echo "downvotetext"; } ?>" id="<?php echo"votecolor" . $this->escape($newQuestion["id"]); ?>">Votes</div>
                                <div class="downvote" id="<?php echo"downvote" . $this->escape($newQuestion["id"]); ?>"><?php echo $this->escape($newQuestion["sdv"]) ?></div>
                            </div>

                            <div class="col-xs-8" style="min-height:80px">
                                <div class="questestheading" style="font-size:120%;line-height: 1.3;color:#333;overflow-wrap: break-word"><?php echo nl2br($this->escape($newQuestion["title"])); ?></div>
                                <div class="questestexplain"  style="font-size:90%;margin-top:5px;overflow-wrap: break-word "><?php echo nl2br($this->escape($newQuestion["text"])); ?></div>
                                <div class="questestuser" style="float:right;margin-top:20px;">                              
                                    <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold"><?php echo $this->escape($newQuestion["email"]) ?></a>
                                </div>
                            </div>
                            
                            <div class="col-xs-2" style="margin-left:20px;height:100px;margin-top:20px;">
                                  <button type="button" id="<?php echo"edit".$this->escape($newQuestion["id"]); ?>" class="adminedit btn btn-default btn-sm">&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <div class="col-xs-12 hide" id="<?php echo"admincommentid" . $this->escape($newQuestion["id"]); ?>"><!--start form div--> 

                                    <div class="row hide" style="margin-right:100px; text-align:center;margin-top:10px;margin-bottom:-20px"    id='<?php echo"adminquestsuccess" . $this->escape($newQuestion["id"]); ?>'>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-6">
                                            <div class="alert alert-dismissable alert-success">                  
                                                <a href="#" class="alert-link" style='text-align:center'>Your's Question is Submitted</a>
                                            </div>
                                        </div>
                                        <div class="col-xs-3"></div>
                                    </div>


                                    <div class="row hide"   style="margin-right:100px; text-align:center;margin-top:10px;margin-bottom:-20px"   id='<?php echo"adminquesterror" . $this->escape($newQuestion["id"]); ?>'>
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-6">
                                            <div class="alert alert-dismissable alert-danger">                  
                                                <a href="#" id="<?php echo"adminnewquesterr" . $this->escape($newQuestion["id"]); ?>" class="alert-link" style='text-align:center'></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-3"></div>
                                    </div>

                                    <form class="form-horizontal" method="post" action="admin-pbj/comment"  id="<?php echo"admincommentformid" . $this->escape($newQuestion["id"]); ?>" style="margin-top:50px;border-bottom: 1px dotted #ddd;">                                                     

                                        <div class="form-group">
                                            <label for="<?php echo"admincommenttextid" . $this->escape($newQuestion["id"]); ?>" class="col-xs-2 control-label">Admin's Answers</label>
                                            <div class="col-xs-10">
                                                <textarea class="form-control" rows="3" id="<?php echo"admincommenttextid" . $this->escape($newQuestion["id"]); ?>" style="width: 700px; height: 200px;" placeholder="Admin's answers..."></textarea>                                           
                                            </div>
                                        </div>        

                                        <div class="form-group">
                                            <label for="<?php echo"adminbadgeselectid" . $this->escape($newQuestion["id"]); ?>" class="col-xs-2 control-label">You Asked Queue</label>
                                            <div class="col-xs-3">
                                                <select class="form-control" id="<?php echo"adminbadgeselectid" . $this->escape($newQuestion["id"]); ?>">
                                                    <option value="none">Select one</option>
                                                    <option value="workinprogress">Work-in-progress</option>   
                                                    <option value="resolved">Resolved</option>
                                                    <option value="archive">Archive</option>                                                                                                     
                                                </select>                                               
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-10 col-xs-offset-2">                                           
                                                <button type="submit" class="btn btn-primary admincommentformsubmit" id="<?php echo"adminformsubmitid" . $this->escape($newQuestion["id"]); ?>"  style="margin-top:40px;">Submit</button>&nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-default adminformcancel" id="<?php echo"adminformcancelid" . $this->escape($newQuestion["id"]); ?>"  style="margin-top:40px;">Cancel</button>
                                            </div>                                          
                                        </div>
                                    </form>
                                </div>
                    </div><!--each question end-->

    <?php endforeach; ?>
    <?php else: ?>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6"><div class="alert alert-dismissable alert-warning">
                            <h4 style="text-align:center">Oops no Questions!!</h4></div>
                    </div>
                    <div class="col-xs-2"> </div>     
                </div>
    <?php endif; ?> 
  </div>  
    
     <!-- navigation holder -->
    <div class="row" id="adminpbjnav">
        <div class="col-xs-12 holder"></div> 
    </div>
        
</div><!-- End new questions tab-->

    <!---- Create New Questions Tab-->
    <div class="tab-pane fade" id="createnew">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Create New Submissions</span></div>
        </div>

        <div class="row hide" id='newquestsuccess'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-success">                  
                    <a href="#" class="alert-link" style='text-align:center'>Your's Question is Submitted</a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>


        <div class="row hide" id='questerror'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-danger">                  
                    <a href="#" id="newquesterr" class="alert-link" style='text-align:center'></a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>

        <form  id="adminnewquestform" class="form-horizontal" style="margin-top:50px;" method="post" action="<?php echo $this->baseUrl('admin-pbj/createnew'); ?>">                                                              
            <div class="form-group">
                <label for="questesttitle" class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                    <input type="text" name="questtitle" class="form-control" id="questesttitle" placeholder="Title">
                </div>
            </div>                                
            <div class="form-group">
                <label for="newquestestdesc" class="col-xs-2 control-label">Description</label>
                <div class="col-xs-10">
                    <textarea name="questetext" class="form-control" rows="3" id="newquestestdesc" style="width: 950px; height: 250px;" placeholder="Your Questions..."></textarea>                                           
                </div>
            </div>                                  

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">                                           
                    <button type="submit" id="questsubmit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

    </div><!----New Questions Tab end-->

   
   
    <!--- Resolved Tab-->
    <div class="tab-pane fade" id="resolved">                                             
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Resolved Submissions</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>
        <div id="resolvedquestioncontainer" style="min-height:600px;"> </div>
        
        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>
        <!-- Popup itself -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide resolvedpopup">Oops...Voting closed for Resolved Questions</div>    
    </div><!--resolved questions tab end-->



    <!---Work in Progress Tab-->
    <div class="tab-pane fade" id="workinprogress">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Work in Progress</span></div>
        </div>
          <!-- navigation holder -->
        <div class="row" id="adminpbjnav">         
            <div class="col-xs-12 holder"></div> 
        </div> 
        <div id="workinprogressquestcontainer" style="min-height:600px;"> </div>
          <!-- navigation holder -->
        <div class="row" id="adminpbjnav">         
            <div class="col-xs-12 holder"></div> 
        </div> 
        <!-- Popup itself -->
        <div id="workin-small-dialog" class="zoom-anim-dialog mfp-hide">Oops...Voting closed for Work-in-Progress Questions</div>
    </div><!--work in progress tab end-->
    
    
    <!---Archive Tab-->
    <div class="tab-pane fade" id="archive">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Archive</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>    
        <div id="archivequestcontainer" style="min-height:600px;"> </div>
         <!-- navigation holder -->
        <div class="row" id="adminpbjnav">          
            <div class="col-xs-12 holder"></div> 
        </div>  
        <!-- Popup itself -->
          <div id="archive-small-dialog" class="zoom-anim-dialog mfp-hide">Oops...Voting closed for Archived Questions</div>        
    </div><!--Archive Tab end-->





</div><!-- End Tab Content -->