<!--List View Data HandleBar Template -->

'<div class="row">'+
    '<div class="col-xs-12 listvieweachdiv">'+
        '<div class="col-xs-1">'+
            '<div class="{{this.liststatusclass}}">&nbsp;</div>'+ 
        '</div>'+
        '<div class="col-xs-11">'+
            '<div class="listsuggestheading">{{this.listsuggheadingtext}}</div>'+                                     
            '<div class="listsuggestuser">{{this.listsuggusettext}}</div>'+
        '</div>'+
    '</div>'+
'</div>'+ 

