<!-- default PBJ--->

<div class="tab-content">

    <!--- New Suggestions Tab -->
    <div class="tab-pane fade in active" id="new">   
        <div class="row">
            <div class="col-xs-12" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;">
                <div class="col-xs-6" >New Submissions</div>
                <div class="col-xs-6">
                    <div class="btn-group" style="float:right" >
                        <a href="#" id="mostrecentsuggbtn" class="btn btn-default btn-xs">Most recent</a>
                        <a href="#" id="mostvotedsuggbtn" class="btn btn-default btn-xs">Most voted</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">         
            <div class="col-xs-12 holder"></div> 
        </div>

        <div class="row" id="suggestionsContainer" style="min-height:600px;">
            <?php if (count($this->newSuggestions)) : ?>
                <?php foreach ($this->newSuggestions as $newSuggestion): ?>           


                    <div class="row eachsugg" id="<?php echo"suggid" . $this->escape($newSuggestion["id"]); ?>">
                        <div class="col-xs-12" style="min-height:120px;padding:10px;border-bottom: 1px dotted #ddd;">
                            <div class="col-xs-1" style="padding-left:30px">
                                <button  id="<?php echo"up" . $this->escape($newSuggestion["id"]); ?>" type="button" class="voteupbtn btn btn-default btn-sm <?php if ($newSuggestion["useruv"] == '1' && !is_null($newSuggestion["useruv"])) echo arrowdim ?>" style="margin-bottom:20px; ">
                                    <span class="glyphicon glyphicon-chevron-up" ></span>
                                </button>
                                <br/>
                                <button id="<?php echo"down" . $this->escape($newSuggestion["id"]); ?>" type="button" class="votedownbtn btn btn-default btn-sm <?php if ($newSuggestion["userdv"] == '1' && !is_null($newSuggestion["userdv"])) echo arrowdim ?> " style="margin-top:20px;">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </div>
                            <div class="col-xs-1" style="margin-left:-20px;height:100px;">
                                <div class="upvote" id="<?php echo"upvote" . $this->escape($newSuggestion["id"]); ?>"><?php echo $this->escape($newSuggestion["suv"]) ?></div>
                                <div class="<?php if ((int) $newSuggestion['diff'] > 0) {
                echo "upvotetext";
            } else {
                echo "downvotetext";
            } ?>" id="<?php echo"votecolor" . $this->escape($newSuggestion["id"]); ?>">Votes</div>
                                <div class="downvote" id="<?php echo"downvote" . $this->escape($newSuggestion["id"]); ?>"><?php echo $this->escape($newSuggestion["sdv"]) ?></div>
                            </div>

                            <div class="col-xs-10" style="min-height:80px">
                                <div class="suggestheading" style="font-size:120%;line-height: 1.3;color:#333"><?php echo nl2br($this->escape($newSuggestion["title"])); ?></div>
                                <div class="suggestexplain"  style="font-size:90%;margin-top:5px; "><?php echo nl2br($this->escape($newSuggestion["text"])); ?></div>
                                <div class="suggestuser" style="float:right;margin-top:20px;">                              
                                    <a href="#" style="font-size:80%;color:#bf6d94;font-weight:bold"><?php echo $this->escape($newSuggestion["email"]) ?></a>
                                </div>
                            </div>

                        </div>
                    </div>

    <?php endforeach; ?>
<?php else: ?>

                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6"><div class="alert alert-dismissable alert-warning">
                            <h4 style="text-align:center">Oops no Suggestions!!</h4></div>
                    </div>
                    <div class="col-xs-2"> </div>     
                </div>
<?php endif; ?>  


        </div>

        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">         
            <div class="col-xs-12 holder"></div> 
        </div>
    </div><!-- New suggestions tab end-->

    <!---- Create New Suggestions Tab-->
    <div class="tab-pane fade" id="createnew">
        <div class="row" >
            <div id="suggtopele" class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Create New Submissions</span></div>
        </div>

        <div class="row hide" id='suggsuccess'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-success" style="text-align:center !important">                  
                    <a href="#" class="alert-link">Your's Suggestion is Submitted</a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>


        <div class="row hide" id='suggerror'>
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="alert alert-dismissable alert-danger" style="text-align:center !important">                  
                    <a href="#" id="newsuggerr" class="alert-link"></a>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>


        <form  id="newsuggform" class="form-horizontal" style="margin-top:50px;" method="post" action="<?php echo $this->baseUrl('twenty-four/createnew'); ?>">                                                              
            <div class="form-group">
                <label for="suggesttitle" class="col-xs-2 control-label">Title</label>
                <div class="col-xs-10">
                    <input type="text" name="suggtitle" class="form-control" id="suggesttitle" placeholder="Title">
                </div>
            </div>                                
            <div class="form-group">
                <label for="suggestdesc" class="col-xs-2 control-label">Description</label>
                <div class="col-xs-10">
                    <textarea name="suggtext" class="form-control" rows="3" id="suggestdesc" style="width: 950px; height: 250px;" placeholder="Your Suggestions..."></textarea>                                           
                </div>
            </div>                                  

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">                                           
                    <button type="submit" id="suggsubmit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div><!-- create new suggestion tab end-->



    <!--- Resolved Tab-->
    <div class="tab-pane fade" id="resolved">                                             
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Resolved Submissions</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">
            <div class="col-xs-12 holder"></div> 
        </div>
        <div id="resolvedsuggestioncontainer" style="min-height:600px;"> </div>
         <!-- navigation holder -->
        <div class="row" id="adminpbjnav">
            <div class="col-xs-12 holder"></div> 
        </div>
        <!-- Popup itself -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide resolvedpopup">Oops...Voting closed for Resolved Suggestions</div>    
    </div><!--resolved suggestions tab end-->



    <!---Work in Progress Tab-->
    <div class="tab-pane fade" id="workinprogress">
        <div class="row">
            <div class="col-xs-3" style="margin-top:30px;margin-bottom:50px;color:#000;font-size:18px;"><span>Work in Progress</span></div>
        </div>
        <!-- navigation holder -->
        <div class="row" id="adminpbjnav">           
            <div class="col-xs-12 holder"></div> 
        </div>
        <div id="workinprogresssuggcontainer" style="min-height:600px;"> </div>
          <!-- navigation holder -->
        <div class="row" id="adminpbjnav">           
            <div class="col-xs-12 holder"></div> 
        </div>
        <!-- Popup itself -->
        <div id="workin-small-dialog" class="zoom-anim-dialog mfp-hide">Oops...Voting closed for Work-in-Progress Suggestions</div>
    </div><!--work in progress tab end-->


</div><!--content tab end-->




