<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <title>EDS Portal</title>
        <!-- Bootstrap -->
        <!--<link rel="shortcut icon" href="http://www.staples.com/sbd/img/ico/favicon.ico" type="image/x-icon" />-->
        <link href="../../css/themespacelab.css" rel="stylesheet">      
        <link href="../../css/eds.css" rel="stylesheet">     
        <link href="../../css/magnific-popup.css" rel="stylesheet"> 
        <link href="../../css/jPages.css" rel="stylesheet"> 
        <link href="../../css/non-responsive.css" rel="stylesheet"> 
         <?php
        if (is_array($this->css)) {
            foreach ($this->css as $value) {
                echo '<link rel="stylesheet" href="../../css/' . $value . '"></link>';
            }
        } elseif(isset($this->css)) {
            echo '<link  rel="stylesheet" href="../../css/' . $this->css . '"></link>';
        }
        ?>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../../js/jquery-1.11.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../js/bootstrap.min.js"></script>        
       <?php
        if (is_array($this->js)) {
            foreach($this->js as $value) {
                echo '<script src="../../js/' . $value . '"></script>';
            }
        } elseif(isset($this->js)) {
            echo '<script src="../../js/' . $this->js . '"></script>';
        }
        ?>
    </head>
    <body>
       <div class="feedback"><a href="/feedback" target="_blank">Feedback</a></div>     

        <div class="row">
            <div class="col-xs-12  topnav">
                <div class="col-xs-12 admintopboder"> </div>
                <div class="col-xs-12 topboder"> </div>
                <div class="container" >
                    <div class="navbar-header navtextcolor">                   
                        <a href="<?php echo $this->baseUrl('index'); ?>" class="navbar-brand">EDS Portal</a>
                        <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>-->
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav customnav">                       
                            <li>
                                <a href="<?php echo $this->baseUrl('admin-pbj'); ?>">PB&amp;J</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl('admin-you-asked'); ?>">You Asked...</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl('dqdashboard'); ?>">DQ Dashboard</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl('twenty-four'); ?>">Twenty Four</a>
                            </li>
                            <li>
                                <a href="wiki.html">Document Store</a>
                            </li>                       
                        </ul>

                        <ul class="nav navbar-nav navbar-right customnav"> 

                            <?php
                            if (Zend_Session::sessionExists()) {
                                echo ' <li class = "dropdown">';
                                echo '<a class = "dropdown-toggle" style="background-color:transparent !important;" data-toggle = "dropdown" href = "#">';
                                echo '' . $this->username . '<span class = "caret"></span></a> <ul class = "dropdown-menu">';
                                $logoutUrl = $this->url(array("controller" => "account", "action" => "logout"));
                                echo' <li><a href="' . $logoutUrl . '">Logout</a></li>';
                                echo' <li><a href="#">Settings</a></li>';
                                echo '</ul> </li>';
                            } else {
                                $loginUrl = $this->url(array("controller" => "account", "action" => "login"));
                                echo '<li><a href="' . $loginUrl . '">Login</a></li>';
                            }
                            ?>

                        </ul>
                    </div>
                </div>         
            </div>
        </div>

        <!-- main body -->
        <div class="container">

            <div class="row">
                <div class="col-xs-12" style="margin-top: 70px;"></div>                 
            </div>

            <div class="row" style="">
                <div class="col-xs-12">
                    <h2><?php echo $this->escape($this->layout()->heading); ?></h2>
                    <p class="lead"><?php echo $this->escape($this->layout()->saying); ?></p>
                </div>                
            </div>

            <div class="row">
                <div class="col-xs-12" style="margin-top:30px;"></div>  
                <div class="col-xs-12">
                    <ul id="pbjTab" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#new" data-toggle="tab">New</a></li>
                        <li><a href="#createnew" data-toggle="tab">Create New</a></li>
                        <li><a href="#resolved" data-toggle="tab">Resolved</a></li>
                        <li><a href="#workinprogress" data-toggle="tab">Work-in-progress</a></li>
                        <li><a href="#archive" data-toggle="tab">Archive</a></li>
                    </ul>
                    <!--echo's view specific data -->
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>

        </div><!-- end main body -->

        <!-- Footer -->                  
        <footer >               
            <div id="footer" class="row">
                <div class="container">                            
                    <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                        <!-- <li><a href="http://news.bootswatch.com" onclick="">Blog</a></li>
                         <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                         <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
                         <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                         <li><a href="../help/#api">API</a></li>  -->                         
                    </ul>
                    <p>Staples EDS Portal</p> 
                </div>
            </div>
        </footer>


    </body>
</html>
