
<div class="row">
    <div class="container" style="min-height: 500px">
        <p style="text-align: center;margin-top: 200px;font-size:32px">Oops... its <span style="color:red;font-weight:bold">404</span> Error</p>
    </div>  

</div>
