
<div class="col-xs-12 margintop50div" >   
    <div class="col-xs-1"></div>
    <div class="col-xs-8">        
        <form role="form" action="<?php $this->baseUrl('search') ?>" method="GET">
            <div class="form-group col-xs-10" style="display: inline-block">
                <input type="text" class="form-control" value="<?php if($this->searchTerm) {echo $this->escape($this->searchTerm);} ?>" name="q" id="q" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Search</button>            
        </form>
    </div> 
    <div class="col-xs-1"></div>
</div>
<div class="col-xs-12 countresults"><?php if(isset($this->resultCount)) {echo $this->escape($this->resultCount); echo "&nbsp; results";} ?></div>
<div class="col-xs-12 margintop30div" id="searchresults">
    
        
    <?php
    
    foreach ($this->searchResults as $document) {
        foreach ($document as $key => $value) {
            
            
        if($key == 'id' && !empty($value)){
            $suggid = $value;   
            $result[$suggid]['id'] = $suggid;
        }else if($key == 'suggtitle' && !empty($value)){
            $suggtitle = $value;
            $result[$suggid]['suggtitle'] = $suggtitle;
        }else if($key == 'suggtext' && !empty($value)){
            $suggtext = $value;
            $result[$suggid]['suggtext'] =  $suggtext;
        }else if($key == 'suggemail' && !empty($value)){
           $suggemail = $value; 
           $result[$suggid]['suggemail'] =  $suggemail;
        }
       
        
    }
    }
/*echo "<pre>";
var_dump($result);
echo "</pre>";*/
    
    
foreach ($result as $key2 => $value2) {
    foreach ($value2 as $key => $value) {
      
        
        if($key == 'id' && !empty($value)){
            $suggid = $value;               
        }else if($key == 'suggtitle' && !empty($value)){
            $suggtitle = $value;   
            echo '<div id="'.$suggid.'"  class="row">';
            echo '<div class="col-xs-12 listvieweachdiv" >';
            echo  '<div class="">';
            echo '<div class="listsuggestheading">'.$suggtitle.'</div>'; 
            echo '</div>';
            echo '<div class="col-xs-11">';
        }else if($key == 'suggtext' && !empty($value)){  
            $suggtext= $value;
            echo '<div >'.$suggtext.'</div>';
        }else if($key == 'suggemail' && !empty($value)){
            echo '<div class="listsuggestuser">'.$suggemail.'</div>';
            echo '</div>';
            echo '</div>';
            echo '</div> ';
        }
     
    }
    
}
    

    
    ?>
    
      
</div>

<ul>
    <li><a href="<?php ?>">1</a></li> 
    <li><a href="<?php ?>">2</a></li> 
</ul>